extends layout

block content
  .page 
    nav 
      span logo
    main
      h1= title
      p Welcome to #{title}
      #promo
        .promo-title It is an amazing course!
        .answer.answer-yes Yes!
        .answer.answer-no No!
